.title-background {
    
    box-shadow:10px 5px 5px #1a1a1a;
    margin-top: -40px;
    margin-bottom: -20px;
    background-image: linear-gradient(130deg, rgb(226, 226, 226), white);
    
}

main h2{
    font-family: Georama;
    font-size: 2.6rem;
    font-weight: 400;
    text-align: center;
}

/* founders images */
#founders {
    display:flex;
    justify-content: center;

}

.f-containter {
    margin: 5px 30px;
    text-align: center;

}

.f-titles {
    font-family: Georama;
    font-weight: 400;
    font-size: 1.5rem;
}

.f-img {
    max-width: 200px;
    max-height: 200px;
    border: 2px solid transparent;
    border-radius: 200px;
    -webkit-background-clip:border-box;
    -webkit-animation: CompanyAn 8s ease infinite;
    -moz-animation: CompanyAn 8s ease infinite;
    animation: CompanyAn 8s ease infinite;
    background-image: linear-gradient(90deg, red,orange,yellow,blue, red);
    background-size: 800% 800%;
}
@-webkit-keyframes CompanyAn{
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 50% 0%}
}
@-moz-keyframes CompanyAn{
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 50% 0%}
}
@keyframes CompanyAn{
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 50% 0%}
}