* {
    font-family: Georama;
}
.alert-container {
    background-color: rgb(179, 255, 179);
    border: 2px dotted rgb(0, 194, 0);
    width: 300px;
    text-align:center;
    margin: 40px auto;
    padding: 20px;
}



