/* global */
* {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16;
    color: #1a1a1a;
}

body {
    margin: 0 auto;
    padding: 0;
    min-width: 882px;
}


/* Section title */
.section-title {
    box-shadow:10px 5px 5px #1a1a1a;
    margin-top: -48px;
    margin-bottom: -20px;
    background-image: linear-gradient(130deg, rgb(226, 226, 226), white);
}
.section-title h3{
    font-family: Georama;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding: 15px;
}

/* nav */
#logo {
    margin-left: 20px;
    /*change to max width and height when high quality logo is added*/
    width: 250px;
    height: 58px;
    margin-top: 5px;
}

.navbar {
    height: 70px;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar-nav {
    display: flex;
}

/* dropdown */
.dropdown {
    position:absolute;
    
    
    opacity: 0;
    background: rgba(255, 255, 255, 0.801);
    
    border-top: 2px solid #46a4e7;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
    display: flex;
    justify-content: center;
    height: 2rem;
    margin-top: 3.1rem;
    padding: 0.5rem;
    align-items: center;

    box-shadow: #46a4e7 0px 0.175em 0.5em;
    transform: translateX(-31%);
    

    transition: opacity .15s ease-out;
}

.has-dropdown:focus-within .dropdown {
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
}

.dropdown-item a {
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;

}

ul {
    list-style-type: none;
}
nav a{
    float: right;
    list-style: none;
    margin-right: 80px;
    font-size: 1.5rem;
    font-family: Georama;
    text-decoration:none;
    transition: all .2s ease-in-out;
}

nav a:hover{
    color: #46a4e7;
    font-weight: 700;
    transition: color .1s ease-in, font-weight .1s ease-in;
    cursor: pointer;
}

/* banner */
.banner {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 700px;
    max-width: 100%;
    background-color:#1a1a1aee;
    background-blend-mode:overlay;
    display: flex; 
    justify-content: center;
}

.banner h1 {
    margin: 0 auto;
    font-size: 3.4rem;
    color: #ffffff;
    font-weight: 400;
    font-family: Georama;
    padding: 20%;
    position: relative;
    right: 60px;
}

/* info strip */
.info-strip {
    margin-top: 0;
    padding-top: 0;
    background-color:#5aa7de;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: row;
    flex-direction: row;
}

.info-strip h2{
    font-size: 1.8rem;
    font-weight: 400;
    font-family: Georama;
    color: #ffffff;
    align-self: center;
}

.learn-more-btn {
    cursor: pointer;
    color: #FFFFFF;
    padding: 10px;
    font-size: 1.8rem;
    font-family: Georama;
    font-weight: 400;
    align-self: center;
    margin-left: 30px;
    border: 2px solid white;
    border-radius: 10px;
    transition: all .2s ease-in-out;

    text-decoration: none;
}

a.learn-more-btn:hover {
    color:#5aa7de;
    background-color: white;
}



/* img strip */
.img-strip-background {
    background-image: url('../images/img-strip-background.gif');
    background-size: cover;
}
.img-strip {
    display: flex;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-color:#00000fbb;
    background-image: url("../images/img-strip.png");
    background-position-x: 50%;
    justify-content: center;
}

.img-strip h2 {
    color: #ffffff;
    font-family: Georama;
    font-size:2.2rem;
    font-weight: 400;
    position: relative;
    right: 70px;
}

.img-strip p {
    color: #ffffff;
    font-family: Georama;
    font-size:1.2rem;
    font-weight: 400;
    position: relative;
    top: 50px;
    right: 190px;
}

.isbtn {
    position:relative;
    right: 425px;
    bottom: 35px;
    transition: all .2s ease-in-out;
}


/* products */
.container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

.p-box {
    border: 2px solid rgb(204, 204, 204);
    background-image: linear-gradient(120deg, white, rgba(128, 128, 128, 0.294));
    height: 700px;
    max-width: 500px;
    margin: 15px;
    transition: all .3s ease-in-out;
}

.p-box:hover {
    border: 2px solid rgb(0, 140, 255);
}

.img{
    min-height: 200px;
    width: 100%;
    margin-top: 30px;
}

.product-title {
    font-size: 2.2rem;
    font-family: Georama;
    text-align: center;
    padding: 10px;
    color:#1a1a1a;
}

a.learn-more{
    position: relative;
    left: 186px;
    bottom: 30px;
    font-family: Georama;
    color:rgb(0, 132, 255);
    font-size: 1.5rem;
}

 a.learn-more:hover {
    cursor:pointer;
    color:rgb(0, 26, 255);
}

/* footer */
footer {
    height: 230px;
    width: 100%;
    background-color:#060e30;
    background-image: linear-gradient(100deg, #060e30,#5aa7de);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottom-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#foot-text {
    color: white;
    padding-right: 10px;
}

#foot-btn {
    margin: 5px;
    padding: 11px;
    height: 11px;
    width: 80px;
    margin-right: 800px;

}
#stovecert {
    width: 190px;
    height: 180px;
    margin: 0;
    padding: 10px;
}

/*media queries*/
@media only screen and (max-width: 1184px) {
    #logo {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
   .navbar-nav {
       display: none;
   }
}

/*scrollbar styles for other browsers*/
body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-track {
    background: var(--gray1);
}

body::-webkit-scrollbar-thumb {
    background-color: #95c3e4;
    border: px solid white;
    border-radius: 20px;
}