/* global */
* {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16;
    color: #1a1a1a;
}

body {
    margin: 0 auto;
    padding: 0;
    min-width: 882px;
}

.companybody h1{
    background-image: linear-gradient(to bottom right, red,orange,yellow,green,blue);
    text-align: center;
    background-repeat: no-repeat;
    -webkit-animation: CompanyAn 7s ease infinite;
    -moz-animation: CompanyAn 7s ease infinite;
    animation: CompanyAn 7s ease infinite;
    background-size: 800% 800%;

    font-size: 4rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@-webkit-keyframes CompanyAn{
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 50% 0%}
}
@-moz-keyframes CompanyAn{
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 50% 0%}
}
@keyframes CompanyAn{
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 50% 0%}
}
/* TODO:ADD MEDIA QUERY */


/* Section title */
.section-title {
    box-shadow:10px 5px 5px #1a1a1a;
    margin-top: -48px;
    margin-bottom: -20px;
    background-image: linear-gradient(130deg, rgb(226, 226, 226), white);
}
.section-title h3{
    font-family: Georama;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding: 15px;
}

/* nav */
#logo {
    margin-left: 100px;
    /*change to max width and height when high quality logo is added*/
    width: 250px;
    height: 58px;
    margin-top: 5px;
}

nav {
    height: 70px;
    position: static;
    overflow: hidden;

}


nav a{
    float: right;
    padding: 10px;
    list-style: none;
    margin-right: 80px;
    font-size: 1.5rem;
    margin-top: 10px;
    font-family: Georama;
    text-decoration:none;
    transition: all .2s ease-in-out;
}

nav a:hover{
    color: #46a4e7;
    font-weight: 700;
    transition: color .1s ease-in, font-weight .1s ease-in;
    cursor: pointer;
}

/* banner */
.banner {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 700px;
    max-width: 100%;
    background-color:#1a1a1aee;
    background-blend-mode:overlay;
    display: flex; 
    justify-content: center;
}

.banner h1 {
    margin: 0 auto;
    font-size: 3.4rem;
    color: #ffffff;
    font-weight: 400;
    font-family: Georama;
    padding: 20%;
    position: relative;
    right: 60px;
}

/* info strip */
.info-strip {
    margin-top: 0;
    padding-top: 0;
    background-color:#5aa7de;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: row;
    flex-direction: row;
}

.info-strip h2{
    font-size: 1.8rem;
    font-weight: 400;
    font-family: Georama;
    color: #ffffff;
    align-self: center;
}

.learn-more-btn {
    cursor: pointer;
    color: #FFFFFF;
    padding: 10px;
    font-size: 1.8rem;
    font-family: Georama;
    font-weight: 400;
    align-self: center;
    margin-left: 30px;
    border: 2px solid white;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.learn-more-btn:active {
    background-color:#96c1e0;
}

a.learn-more-btn:hover {
    color:#5aa7de;
    background-color: white;
}
/* img strip */
.img-strip-background {
    background-image: url('../images/img-strip-background.gif');
    background-size: cover;
}
.img-strip {
    display: flex;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-color:#00000fbb;
    background-image: url("../images/img-strip.png");
    background-position-x: 50%;
    justify-content: center;
}

.img-strip h2 {
    color: #ffffff;
    font-family: Georama;
    font-size:2.2rem;
    font-weight: 400;
    position: relative;
    right: 70px;
}

.img-strip p {
    color: #ffffff;
    font-family: Georama;
    font-size:1.2rem;
    font-weight: 400;
    position: relative;
    top: 50px;
    right: 190px;
}

.isbtn {
    position:relative;
    right: 425px;
    bottom: 35px;
    transition: all .2s ease-in-out;
}


/* products */
.container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.p-box {
    border: 2px solid rgb(204, 204, 204);
    background-image: linear-gradient(120deg, white, rgba(128, 128, 128, 0.294));
    height: 700px;
    max-width: 500px;
    margin: 15px;
    transition: all .3s ease-in-out;
    
}

.p-box:hover {
    border: 2px solid rgb(0, 140, 255);
}

.img{
    min-height: 200px;
    width: 100%;
    margin-top: 30px;
}

.product-title {
    font-size: 2.2rem;
    font-family: Georama;
    text-align: center;
    padding: 10px;
    color:#1a1a1a;
}

a.learn-more{
    position: relative;
    left: 186px;
    bottom: 30px;
    font-family: Georama;
    color:rgb(0, 132, 255);
    font-size: 1.5rem;
}

 a.learn-more:hover {
    cursor:pointer;
    color:rgb(0, 26, 255);
}

/* footer */
footer {
    height: 200px;
    width: 100%;
    background-color:hsla(205,60%,25%);
}